<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход в систему</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/icon.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="box">
        <h2>ВХОД</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for cat, msg in messages %}
                    <div class="error">{{ msg }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form method="POST">
            <label>Имя пользователя</label>
            <input type="text" name="username" value="{{ username }}" maxlength="22" placeholder="Имя" required><br>
            <label>Пароль</label>
            <input type="password" name="password" maxlength="22" placeholder="Пароль" required><br>
            <button type="submit">ВОЙТИ</button>
        </form>
        <div class="links">
            <a href="{{ url_for('register') }}">Еще нет аккаунта? Загеристрируйся</a><br><br>
            <a href="{{ url_for('index') }}">На главную</a>
        </div>
    </div>
</body>
</html>