<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/icon.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class = "box">
        <h1>ЛИЧНОЕ ДЕЛО: {{ username }}</h1>
        <p>Статус: В системе.</p>
        <a href="{{ url_for('logout') }}" style="color: #ff5555;">ВЫЙТИ</a>
    </div>
</body>
</html>